<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{PATH}}/project/common/css/bootstrap.css"/>

    <!--[if lt IE 8]>
    <script>
        alert('H+已不支持IE6-8，请使用谷歌、火狐等浏览器\n或360、QQ等国产浏览器的极速模式浏览本页面！');
    </script>
    <![endif]-->




</head>

<body>

<div class="content">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{D.title}}</div>
        <div class="panel-body">
            <p>...</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">{{D.title}}{{D.news1}}</li>
            <li class="list-group-item">{{D.news2}}</li>
            <li class="list-group-item">{{D.news3}}</li>
            <li class="list-group-item">{{D.news4}}</li>
            <li class="list-group-item">{{D.news5}}</li>
        </ul>
    </div>
</div>
</body>

</html>
