<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{ROOT}}/project/public/css/lib.css"/>
	<link rel="stylesheet" type="text/css" href="{{ROOT}}/project/public/css/chess.css"/>
	<style type="text/css">

	</style>
</head>

<body>
<canvas id="chess" width="450" height="450"></canvas>

</body>
</html>
<script type="text/javascript" src="{{ROOT}}/lamborghiniJS/Canvas.class.js"></script>
<script type="text/javascript" src="{{ROOT}}/lamborghiniJS/Shape.class.js"></script>
<script type="text/javascript" src="{{ROOT}}/lamborghiniJS/Chess.class.js"></script>


<script type="text/javascript">

	LAMJS.main([
		LAMJS.Config.Public.ROOT
	],function(ROOT) {
		var System=this;
		var chess;

		$(function(){
			chess=new System.Html5.Chess($('#chess')[0],19);
			chess
					.add_watermark(ROOT+'/project/images/11.jpg',function(){
						chess
								.draw()
								.click();
					});





		});

	});
</script>
